@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap&subset=hebrew");

:root {
  --brand: #345679;
}

body {
  input {
    font-family: "Fira Sans", sans-serif;
  }
}

h1 {
  font-weight: 600;
  @apply text-2xl tracking-widest uppercase;
}

p {
  margin-bottom: 6px;
}

a {
  @apply text-gray-500;
  transition: all 0.25s ease;
  &:hover {
    @apply text-gray-100;
  }
}

main {
  max-width: 860px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  &.full-width {
    max-width: 100vw;
  }
}

// Vue transitions
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter,
.page-leave-to {
  transform: scale(0.5);
  opacity: 0;
}

.slideUp-enter-active,
.slideUp-leave-active {
  transition: all 0.3s;
}
.slideUp-enter,
.slideUp-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

@tailwind utilities;
